# Ignorar archivos de entorno virtual
venv/
.env
notebooks/

# Ignorar archivos compilados de Python
__pycache__/
*.py[cod]
*$py.class
*.ipynb
# Ignorar archivos temporales y de sistema
*.swp
*.bak
*.tmp
.DS_Store

# Ignorar imágenes comunes
*.jpg
*.jpeg
*.png
*.gif
*.bmp
*.tiff
*.webp
*.svg
# Ignorar archivos de audio y video
*.mp3
*.wav 
*.mp4
*.avi
# Ignorar archivos de modelos
*.pt

# Ignorar archivos de log
*.log

# Ignorar archivos de librerías grandes
*.dll
*.lib
*.pyd

# Ignorar archivos database
*.db
# Ignorar archivos de configuración de IDEs
.idea/
#Ignorar archivos log
*.log
#Ignorar archivos dockerfile
*.dockerfile
*.yml
